.home-img {
  background-color: #ebebfa;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.vehicle-heading {
  font-size: 20px;
  font-weight: 500;
}
body{
  background-color: #EAE9E9;
}

.container-hero {
  /* Frame 1 */
  position: absolute;
  width: 100%;
  height: 290px;
  left: 0px;
  top: 0px;
  background: rgba(93, 112, 254, 0.1);
}

.second-img {
  margin-left: -62%;
  z-index: -1;
  height: 325px;
}

.first-img {
  z-index: 999;
  background-color: transparent;
}

.col-md-6 form input {
  border-radius: 10px;
}

.col-md-6 form input[type="text"],
.col-md-6 form input[type="email"] {
  height: 54px;
}

.upload-buttons {
  height: 37;
  width: 105;
  border-radius: 10px;
  background-color: #ebebeb;
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 500;
}

.next-btn {
  width: 149px;
  height: 54px;
  background-color: #314aff;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 18px;
  position: relative;
  float: right;
}
.adhar-images{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adhar-images div{
  height: 56px;
  width: 120px;
  background-color: #D9D9D9;
}
.row .col-md-6 .buttons-group button{
  height: 54px;
  width: 149px;
  border-radius: 4px;
  border: 1px solid #314AFF;
  font-size: 18px;
  font-weight: 600;
}

.row .col-md-6 .buttons-group{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px 30px;
}
.row .col-md-6 .buttons-group button:first-child{
  background-color: #FBF9F9;
}

.row .col-md-6 .buttons-group button:last-child {
  background-color: #314AFF;
  color: white;
}

@media (max-width: 1024px) {
  .container-hero {
    height: 200px;
  }

  .second-img {
    margin-left: -50%;
    height: 250px;
    width: 100%;
  }

  .first-img {
    height: 400px;
  }

  .vehicle-heading {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .container-hero {
    height: 150px;
  }

  .second-img {
    margin-left: -30%;
    height: 200px;
  }

  .first-img {
    height: 200px;
    width: 100vw;
  }

  .vehicle-heading {
    font-size: 16px;
  }

  .col-md-6 form input[type="text"],
  .col-md-6 form input[type="email"] {
    height: 45px;
  }

  .next-btn {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }
    .row .col-md-6 .buttons-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px 30px;
    }
}

@media (max-width: 540px) {
  .container-hero {
    height: 120px;
  }

  .second-img {
    margin-left: 0;
    height: 150px;
    margin-top: -45%;
  }

  .first-img {
    height: 150px;
    margin-left: -15%;
  }

  .vehicle-heading {
    font-size: 14px;
  }

  .col-md-6 {
    width: 100%;
  }

  .col-md-6 form input[type="text"],
  .col-md-6 form input[type="email"] {
    height: 40px;
    width: 100%;
  }

  .next-btn {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }

  .upload-buttons {
    width: 80px;
    height: 30px;
    font-size: 12px;
  }
}

.left-arrow {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 5px;
}

.toggle-forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 90%;
}

.toggle-buttons button {
  margin: 0 10px;
}

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.toggle-buttons button {
  background-color: white;
  border: none;
  padding: 10px 30px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
}

.toggle-buttons button.active {
  background-color: #dcddfa;
  color: black;
  font-weight: 500;
  border-radius: 6px;
  font-size: 12px;
}

.form-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.add-new-car {
  width: 100%;
  border: 1px solid #787878;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;

  & .add-car-icon {
    font-size: 15px;
  }

  & .add-car-btn {
    color: black;
        border: none;
        background: none;
        font-weight: 500;
  }
}
.form-main {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  margin: 10px;
}


